<div id="sidebar" class="sidebar responsive ace-save-state">
    <script type="text/javascript">
        try {
            ace.settings.loadState('sidebar');
        } catch (e) { }
    </script>
    <ul class="nav nav-list">
        <li class="">
            <a href="javascrip:void();" class="dropdown-toggle">
                <img class="img-responsive img-inactive" src="~/Images/User.svg" />
                <span class="menu-text">
                    Quản trị
                </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>
            <ul class="submenu">
                <li class="">
                    <a href="javascrip:void();" class="dropdown-toggle">
                        <span class="menu-text">
                            Tài khoản
                        </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class=""><a href="@Url.ActionLocalized("ListNNT", "Mst_NNT", new {})" class=""><i class="menu-icon fa fa-caret-right"></i>Quản lý khách hàng</a></li>
                        <li class=""><a href="@Url.ActionLocalized("Index", "Mst_Dealer", new {})" class=""><i class="menu-icon fa fa-caret-right"></i>Quản lý đại lý</a></li>
                    </ul>
                </li>
                
            </ul>
        </li>
    </ul>
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
</div>
