<div class="row no-margin" style="background: #272D3A; color: #fff">
    <div class="container contact-footer">
        <h2 style="border-bottom: 1px solid #fff; line-height: 70px; margin-bottom: 30px; padding-bottom: 20px;"><img src="@Url.Content("~/Images/logo-white.png")" style="height: 70px; padding-right: 15px;" /><br class="visible-xs visible-sm">CÔNG TY CỔ PHẦN ĐẦU TƯ VÀ CÔNG NGHỆ IDOCNET</h2>
        <p><img class="img-responsive" style="" src="@Url.Content("~/Images/icon-marker.png")">27 Huỳnh Thúc Kháng, Phường Láng Hạ, Quận Đống Đa, Hà Nội</p>
        <p><img class="img-responsive" style="" src="@Url.Content("~/Images/icon-contact.png")">support@idocnet.com</p>
        <p><img class="img-responsive" style="" src="@Url.Content("~/Images/icon-phone.png")">096 246 4466</p>
    </div>
</div>

