<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="300000"/>
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483644"/>

    <add key="NetworkID" value="0"/>
    <add key="TokenID" value="TOKENID.IDOCNET"/>
    
    <!--test-->
    <add key="HeThong" value="TEST"/>
    <add key="BaseMasterServerAPIAddress" value="http://14.232.244.217:12088/idocNet.Test.InBrand.V10.MstSv.WA/"/>
    <add key="BaseReportServerAPIAddress" value="http://14.232.244.217:12088/idocNet.Test.InBrand.V10.RptSv.WA/"/>
    <add key="BasePayGateAddress" value="http://14.232.244.217:12088/idocNet.Test.PayGate.V10.WA/"/>
    <add key="BaseINOSAddress" value="https://test.inos.vn/"/>
    <add key="BaseAPIInbrand" value="http://14.232.244.217:12088/idocNet.Test.InBrandCloud.WA/"/>
    <!-- End test-->
    
    <!-- Config Url serial, box, carton -->
    <add key="Product" value="https://inbrand.vn/tracuu?ProdID=" />
    <add key="Carton" value="https://inbrand.vn/tracuu?Carton=" />
    <add key="Box" value="https://inbrand.vn/tracuu?Box=" />
    <!-- ProductCentrer -->
    <add key="OS_ProductCentrer_GwUserCode" value="idocNet.ProductCenter.Sv" />
    <add key="OS_ProductCentrer_GwPassword" value="idocNet.ProductCenter.Sv" />
    <add key="OS_ProductCentrer_WAUserCode" value="MSTSV.SYSADMIN" />
    <add key="OS_ProductCentrer_WAUserPassword" value="1" />
    <!-- End ProductCentrer -->

    <!-- MasterServer ProductCentrer -->
    <!--<add key="OS_MasterServer_PrdCenter_UserCode" value="DUNGND" />
    <add key="OS_MasterServer_PrdCenter_UserPassword" value="1" />-->
    <add key="OS_MasterServer_PrdCenter_TokenID" value="TOKENID.IDOCNET" />
    <add key="OS_MasterServer_PrdCenter_GwUserCode" value="idocNet.ProductCenter.Sv" />
    <add key="OS_MasterServer_PrdCenter_GwPassword" value="idocNet.ProductCenter.Sv" />
    <add key="OS_MasterServer_PrdCenter_WAUserCode" value="MSTSV.SYSADMIN" />
    <add key="OS_MasterServer_PrdCenter_WAUserPassword" value="1" />
    <add key="OS_MasterServer_PrdCenter_API_Url" value="http://14.232.244.217:12088/idocNet.Test.ProductCenterMstSv.V10.WA/" />
    <!-- End MasterServer ProductCentrer -->

    <!-- HDDT -->
    <!--<add key="GwUserCode" value="idocNet.idN.TVAN.Sv"/>
    <add key="GwPassword" value="idocNet.idN.TVAN.Sv"/>-->
    
    <!-- Inbrand -->
    <add key="GwUserCode" value="idocNet.idn.Skycic.Inventory.Sv"/>
    <add key="GwPassword" value="idocNet.idn.Skycic.Inventory.Sv"/>
    
    <!--ReportServer-->
    <add key="WAUserCode_RptSV" value="RS.SA.BG.ALL"/>
    <add key="WAUserPassword_RptSV" value="RS.SA.bg.ALL.001"/>
    <!--MasterServer-->
    <add key="WAUserCode_MstSV" value="MS.SA.BG.ALL"/>
    <add key="WAUserPassword_MstSV" value="MS.SA.bg.ALL.001"/>
    <!--Network-->
    <add key="WAUserCode_Network" value="SA.BG.ALL"/>
    <add key="WAUserPassword_Network" value="SA.bg.ALL.123"/>
    <add key="DepartmentCodeParent" value="O"/>
    <!--<add key="HeThong" value="REAL"/>-->
    <add key="HeThong" value="TEST"/>
    <add key="RowsWorksheets" value="1048570"/>
    <!--Chú ý cấu hình khi release hệ thống thật-->
    <add key="DiskCode" value="E"/>
    <add key="FolderInBrandCloud" value="Allprjs\idocNet\2019.6.InBrandCloud\Dev\V10\idn.Skycic.Inventory.Web"/>
    <!--Hệ thống thật-->
    <!--<add key="DiskCode" value="D" />
    <add key="FolderInBrandCloud" value="AllWebsites\idocNet.Test.InBrandCloud" />-->
    <!--<add key="reCaptchaPublicKey" value="6Le-Zo4UAAAAAK11YGpyqlPRckh8c3UU2LjSqbyA"/>
    <add key="reCaptchaPrivateKey" value="6Le-Zo4UAAAAACLazYyxUxgiKjs44WuNEuGQkQ7U"/>-->
    <add key="reCaptchaPublicKey" value="6LcXvs4UAAAAAFnP-cSOyOrdh4y1-KBxbQ3fpc1" />
    <add key="reCaptchaPrivateKey" value="6LcXvs4UAAAAAMoCY5vuylsDb9l08oFt-npN6pfX" />
    <add key="recaptchaApiVersion" value="1"/>
    
    <!--Gửi mail-->
    <add key="Domain" value="http://test.inbrand.vn:12071" />
    <!--<add key="Domain" value="http://localhost:1285" />-->
    <add key="SolutionCode" value="inbrandclound"/>
    <add key="APIsSendMail" value="http://mailgate.inos.vn/emailapi/send"/>
    <add key="ApiKeySendMail" value="FMfcgxwDrRVzncFSGgMSxGGCGFMszbkB"/>
    <add key="DisplayNameMailFrom" value="Inbrand Clound"/>
    <add key="MailFrom" value="no-reply@mg.qinvoice.vn"/>
    <!--END Gửi mail-->
    <add key="ReportBro_Key" value="key:"/>
    <add key="ReportBro_OutputFormat" value="pdf"/>
    <add key="ReportBro_ServerUrl" value="https://rptsvc.inos.vn/"/>
    <!--VNPAY-->
    <!--value="https://pay.vnpay.vn/vpcpay.html"  value="http://merchant.vnpay.vn/"-->
    <add key="vnp_Url" value="https://sandbox.vnpayment.vn/paymentv2/vpcpay.html" />
    <!--<add key="vnp_Returnurl" value="http://14.232.244.217:12088/idocNet.Test.PayGate.V10.WA/api/PmtOrdPaymentOrderVnp/WA_PmtOrd_PaymentOrderVnp_Add" />-->
    <add key="vnp_Returnurl" value="http://test.inbrand.vn:12071/agent/Register/VnPayReturn" />
    <!--Mua thêm Licese-->
    <add key="vnp_ReturnurlLiceseAdd" value="http://test.inbrand.vn:12071/agent/Register/VnPayReturnLiceseAdd" />
    <add key="querydr" value="http://sandbox.vnpayment.vn/merchant_webapi/merchant.html" />
    <add key="vnp_TmnCode" value="IDOCNET1" />
    <add key="vnp_HashSecret" value="WBXEPTJGCYEXODTDBITKYZSOOCYXZGOK" />
    <!--HT thật-->
    <!--<add key="vnp_TmnCode" value="IDOCNET1" />
        <add key="vnp_HashSecret" value="POGZDOMGHIMKPTCXCAGHMOPLNDYTVNJF" />-->
    <!--End HT thật-->
    <!--Đầu IPN url-->
    <!--http://14.232.244.217:12088/idocNet.Test.PayGate.V10.WA/VNPayIPN-->
    <!--https://services.qinvoice.vn/idocNet.Real.PayGate.V10.WA/VNPayIPN-->
    <!--End Đầu IPN url-->
    <!--ENDVNPAY-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="1073741824"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880"/>
    </authentication>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
    <securityPolicy>
      <trustLevel name="Full" policyFile="internal"/>
    </securityPolicy>
    <!--<sessionState timeout="15">
      --><!--<providers></providers>--><!--
    </sessionState>-->
  </system.web>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644">
          <converters/>
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.5.5.0" newVersion="5.5.5.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <!--20190124-->
      <remove name="UrlRoutingModule-4.0"/>
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition=""/>
      <!--End-->
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
      <remove name="KeepAlive" />
      <add name="KeepAlive" verb="GET" path="keep-alive.ashx" type="idn.Skycic.Inventory.Web.Handlers.KeepAlive " />
    </handlers>
    <httpErrors existingResponse="PassThrough"/>
    <!-- Fix: Failed to load resource: the server responded with a status of 404 (Not Found) fontawesome-webfont.woff2?v=4.5.0 -->
    <staticContent>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
    </staticContent>
    <!--3: Loại bỏ X-Powered-By-->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>