

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Nhập file Excel</h3>
            <a href="javascript:void();" onclick="CloseModalImportExcel()" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </a>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "manageFormImportExcel" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group margin-bottom-5">
                    <input type="file" name="file" id="file" />
                </div>
            }

        </div>
        <div class="modal-footer">
            <a href="javascript:void(0);" class="btn mybtn-Button" onclick="Import()" id="btnSaveImport" style="padding-left: 10px!important; padding-right: 10px!important; font-size: 16px; font-weight: 500;">Nhập</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('input[type="file"]').change(function (e) {
            checkFileExcelImport(this, e);
        });

    });

    function CloseModalImportExcel() {
        $('#ImportExcelModal').modal("hide");
        $('#ImportExcelModal').html('');
    }

    function Import(title) {
        debugger;
        var file = $("#file").val();
        if (file.length === 0) {
            alert("Nhập file cần Import");
            $("#file").val('');
            return false;
        } else {
            var checkFile = false;
            var _index = file.lastIndexOf('.');
            if (_index !== undefined && _index !== null && _index > 0) {
                var fileType = file.substring(_index + 1, file.length).toLowerCase();
                if (fileType === 'xls' || fileType.toLowerCase() === 'xlsx') {
                    checkFile = true;
                }
            }
            if (checkFile) {
                ImportFileExcel();
            } else {
                alert("File Excel Import không hợp lệ!");
            }
        }
    }
</script>





