<?xml version="1.0" encoding="utf-8"?>
<SysObjectSetting xmlns="http://schemas.datacontract.org/2004/07/idn.Skycic.Inventory.Common.Models" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <List>
    <SysObjectFunction>
      <ObjectCode>MENU_QL_CAP_SO_IN_TEM</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Inv_InventorySecret_Get</a:string>
        <a:string>Inv_InventorySecret_UpdateFlagUsed</a:string>
      </FunctionCodes>
    </SysObjectFunction>
  </List>
</SysObjectSetting>