@{
    ViewBag.Title = "VnPayReturnLiceseAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var netWorkId = ViewBag.NetworkID == null ? "" : ViewBag.NetworkID as string;
    var linkReturn = "/" + netWorkId + "/License";
}
<div id="divReturnVNPAY">
    <div style="text-align: center; padding-top: 100px; font-weight: 600; font-size: 14px;">@MvcHtmlString.Create(ViewBag.msg)</div>
    <p style="text-align: center">
        <a value="Về trang chủ" id="btnClose" class="btn btn-default" href="@linkReturn">Về trang chủ</a>
    </p>
</div>

<div id="loading" class="modal fade" role="dialog">
    <img id="loading-image" src="/Content/assets/images/showloading/indicatorbig.gif" />
</div>

<style>
    #loading {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        display: block;
        opacity: 0.7;
        background-color: #fff;
        z-index: 99;
        text-align: center;
    }

    #loading-image {
        position: absolute;
        top: 40%;
        left: 45%;
        /*240px;*/
        z-index: 100;
    }
</style>

<script>
    $(document).ready(function () {
        setTimeout(LoadPage, 5000);
    });

    function LoadPage() {
        window.location.href = '@linkReturn';
    }
</script>
