/*Font face*/
@font-face {
    font-family: Roboto-Light;
    src: url('../Core.Content/font/roboto-font/Roboto-Regular.ttf');
}

@font-face {
    font-family: SourceSansPro-Light;
    src: url('../Core.Content/font/SourceSansPro-font/SourceSansPro-Light.otf');
}

@font-face {
    font-family: SourceSansPro-Regular;
    src: url('../Core.Content/font/SourceSansPro-font/SourceSansPro-Regular.otf');
}

@font-face {
    font-family: SourceSansPro-It;
    src: url('../Core.Content/font/SourceSansPro-font/SourceSansPro-It.otf');
}

@font-face {
    font-family: SourceSansPro-Bold;
    src: url('../Core.Content/font/SourceSansPro-font/SourceSansPro-Bold.otf');
}

@font-face {
    font-family: SourceSansPro-Semibold;
    src: url('../Core.Content/font/SourceSansPro-font/SourceSansPro-Semibold.otf');
}
/*End Font face*/

/*reset css*/
body {
    font-family: SourceSansPro-Regular;
    font-size: 13px;
}
.no-margin {
    margin: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-padding-bot-top {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.input-group[class*=col-] {
    float: none;
    padding-left: 0;
    padding-right: 0;
}

.panel-info {
    border: none !important;
}

.form-horizontal {
    width: 100%;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.form-group {
    display: flex;
    margin-bottom: 5px;
}
label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 100;
}

.content-wrapper {
    background: #fff;
    margin-left: 230px !important;
    padding-top: 50px;
}
/*end reset css*/
/*Style Navbar*/
.content-header {
    padding: 19px .5rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

@media (min-width: 768px) {
    body:not(.sidebar-mini-md) .main-header {
        margin-left: 0px;
        z-index: 1039;
    }
}

@media (min-width: 992px) {
    .sidebar-mini.sidebar-collapse .main-header {
        margin-left: 0rem !important;
    }
}

@media (min-width:992px) {
    .navbar-left {
        float: left !important
    }

    .navbar-right {
        float: right !important;
    }

    .navbar-right ~ .navbar-right {
        margin-right: 0
    }
}

@media (min-width: 992px) {
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
}

.navbar-collapse {
    overflow-x: visible;
    padding-right: 12px;
    padding-left: 12px;
}

.right-navbar a {
    color: #fff;
}

.nav.navbar-nav li {
    padding: 5px 0px;
    border: none;
}

.nav.navbar-nav li a {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 10px;
    color: #FFF;
    text-shadow: 0 1px 0 rgba(0,0,0,.25);
    line-height: 30px;
    padding: 0px 15px !important;
    height: auto !important;
    font-size: 13px !important;
    font-family: SourceSansPro-Semibold;
}

.trthead {
    font-family: SourceSansPro-Semibold;
}

.badge-important {
    background-color: #ED7608;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 1px 5px;
    font-size: 11px;
    color: #fff;
    vertical-align: middle;
    border-radius: 10px;
}

.notifi-header, .notifi-content, .notifi-footer {
    padding: 10px 15px !important;
    padding-top: 10px !important;
    padding-right: 15px !important;
    padding-bottom: 10px !important;
    padding-left: 15px !important;
}

#form-notify a {
    color: #337ab7;
}

.notifi-alert li, .notifi-header, .notifi-footer {
    border-bottom: 1px solid #ddd !important;
}

.notifi-header, .notifi-content, .notifi-footer {
    padding: 10px 15px !important;
}

.notifi-footer {
    text-align: center;
}

.read:hover .button-alert-notifi {
    background-position: 5px -25px;
}

.button-alert-notifi {
    background-image: url(/images/read-unread.png);
    background-repeat: no-repeat;
    background-size: auto;
    cursor: pointer;
    height: 14px;
    background-position: 0;
    width: 30px;
}

.read:hover .button-alert-notifi {
    background-position: 5px -25px;
}

.unread:hover .button-alert-notifi {
    background-position: -15px -4px;
}

.unread > a {
    font-weight: bold !important;
}

#notification-list {
    list-style-type: none;
    max-height: 300px;
    overflow: auto;
    padding: 0;
}

.redirectweb a {
    color: #337ab7 !important;
}

.dropdown-menu a {
    color: #333 !important;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #3FA177 !important;
}
/*End Style Navbar*/

.color-header {
    background-color: #098850 !important;
}

.dataTable > thead > tr > th[class*=sorting_] {
    color: #333 !important;
    background-color: #ffffff !important;
}

.table-bordered thead.thead tr td, .table-bordered thead tr th, .table-bordered tbody tr td {
    color: #222222 !important;
    padding: 5px 10px !important;
}

.table-striped > tbody > tr:hover {
    background-color: #d1d1d1;
}


.dataTable > thead > tr > th[class*=filterorder]:after {
    float: right;
    display: inline;
    font-size: 13px;
    font-weight: 400;
    color: #555;
    right: 0.5em;
    content: "\e150" !important;
    font-family: 'Glyphicons Halflings';
}

.mybtn-Button-1 {
    padding: 5px 10px !important;
    padding-top: 5px !important;
    padding-right: 10px !important;
    padding-bottom: 5px !important;
    padding-left: 10px !important;
}

/*Layout*/
.form-group > label[class*=col-] {
    margin-bottom: 4px;
}

.form-horizontal .control-label {
    padding-top: 5px;
    color: #222222;
    font-size: 13px;
    text-align: right;
    float: left;
    padding: 0;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: right;
        margin-bottom: 0;
        padding-top: 7px;
    }
}

.layout-search {
    border-bottom: 1px solid #ddd;
}
/*End Layout*/
/*Style Input, Select*/
input, select, textarea {
    border: 1px solid #d5d5d5;
}

.form-group input[type=text], .form-group input[type=password], .form-group input[type=datetime], .form-group input[type=datetime-local], .form-group input[type=date], .form-group input[type=month], .form-group input[type=time], .form-group input[type=week], .form-group input[type=email], .form-group input[type=url], .form-group input[type=search], .form-group input[type=tel], .form-group input[type=color] {
    height: 30px !important;
    line-height: 26px !important;
    border-radius: 4px !important;
    color: #000;
    border-color: #d5d5d5;
    padding: 5px 5px !important;
    border-width: 1px;
}

textarea:focus, input[type=text]:focus, input[type=password]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=date]:focus, input[type=month]:focus, input[type=time]:focus, input[type=week]:focus, input[type=number]:focus, input[type=email]:focus, input[type=url]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=color]:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #696969;
    border-color: #f59942;
    background-color: #fff;
    outline: 0;
}

.form-group select, .form-group textarea, .form-group input[type=text], .form-group input[type=password], .form-group input[type=datetime], .form-group input[type=datetime-local], .form-group input[type=date], .form-group input[type=month], .form-group input[type=time], .form-group input[type=week], .form-group input[type=number], .form-group input[type=email], .form-group input[type=url], .form-group input[type=search], .form-group input[type=tel], .form-group input[type=color] {
    background: transparent;
}

.form-group select {
    height: 30px !important;
    line-height: 30px !important;
    border-radius: 4px !important;
    color: #333;
    border-color: #d5d5d5;
    padding: 5px 1px !important;
    border-width: 1px;
}

.form-control:focus, select:focus {
    color: #696969;
    border-color: #f59942;
    background-color: #fff;
    outline: 0;
}


input.quicksearch {
    width: 29px;
    box-sizing: border-box;
    border-radius: 4px !important;
    font-size: 13px;
    outline: none;
    padding: 4px 5px;
    background: url(/Images/SearchGrey.svg) no-repeat right;
    transition: width 0.4s ease-in-out;
    color: transparent;
}

input.quicksearch:focus {
    width: 200px;
    border-color: #007554;
    background: url(/Images/SearchHover.svg) no-repeat right;
    color: #858585;
}
/*End Style Input*/

/*Style button*/
.mybtn-Button {
    background-color: #098850 !important;
    color: #fff !important;
    border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    border: 1px solid #098850 !important;
    padding: 4px 10px !important;
    border-radius: 3px !important;
}

.button-search {
    background-color: #098850 !important;
    color: #fff !important;
    border: 1px solid #098850 !important;
    border-radius: 3px !important;
    padding: 4px 8px !important;
}

.btn:hover, .btn-default:hover, .btn:active, .btn-default:active, .open > .btn.dropdown-toggle, .open > .btn-default.dropdown-toggle {
    background-color: #004A29 !important;
    outline: 0;
}

.mybtn-Button-Search {
    background-color: #007554 !important;
    color: #fff !important;
    border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    border: 1px solid #007554 !important;
    padding: 2px 7px !important;
    border-radius: 3px !important;
}

.img-button-search {
    height: 15px;
    margin: 0px;
}

.btn-nc-button {
    text-align: center;
    background-color: #098850 !important;
    color: #fff !important;
    border: 1px solid #bebebe;
    height: 30px !important;
    border-radius: 4px;
    font-size: 13px !important;
    margin-right: 5px;
    box-shadow: 0 0px 0px rgba(0,0,0,0)!important;
}

    .btn-nc-button:hover {
        background-color: #004A29 !important;
    }



input[type=checkbox].ace + .lbl, input[type=radio].ace + .lbl {
    position: relative;
    display: inline-block;
    line-height: 20px;
    min-width: 18px;
    font-weight: 400;
    cursor: pointer;
}

input[type=checkbox].ace.ace-switch.ace-switch-4:checked + .lbl::before, input[type=checkbox].ace.ace-switch.ace-switch-5:checked + .lbl::before {
    background-color: #098850;
    border-color: #098850;
}

input[type=checkbox].ace.ace-switch.ace-switch-4:checked + .lbl::before, input[type=checkbox].ace.ace-switch.ace-switch-5:checked + .lbl::before {
    text-indent: 7px;
}

input[type=checkbox].ace.ace-switch.ace-switch-4 + .lbl::before, input[type=checkbox].ace.ace-switch.ace-switch-5 + .lbl::before {
    content: "ON\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0OFF";
    font-size: 12px;
    line-height: 21px;
    height: 24px;
    overflow: hidden;
    border-radius: 12px;
    border: 1px solid #8B9AA3;
    color: #FFF;
    width: 56px;
    text-shadow: 0 0 0 #FFF;
    display: inline-block;
    position: relative;
    box-shadow: none;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

input[type=checkbox].ace.ace-switch.ace-switch-4:checked + .lbl::after, input[type=checkbox].ace.ace-switch.ace-switch-5:checked + .lbl::after {
    left: 34px;
    background-color: #FFF;
    color: #848484;
}

input[type=checkbox].ace.ace-switch.ace-switch-4 + .lbl::after, input[type=checkbox].ace.ace-switch.ace-switch-5 + .lbl::after {
    content: 'III';
    font-size: 11px;
    position: absolute;
    top: 2px;
    letter-spacing: 0;
    width: 20px;
    height: 20px;
    line-height: 19px;
    text-shadow: none !important;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

input[type=checkbox].ace:checked, input[type=checkbox].ace:focus, input[type=radio].ace:checked, input[type=radio].ace:focus {
    outline: 0 !important;
}

label input[type=checkbox].ace, label input[type=radio].ace {
    z-index: -100 !important;
    width: 1px !important;
    height: 1px !important;
    clip: rect(1px,1px,1px,1px);
    position: absolute;
}

input[type=checkbox].ace, input[type=radio].ace {
    opacity: 0;
    cursor: pointer;
}

input[type=checkbox].ace.ace-switch+.lbl::after {
    font-family: 'Open Sans';
    content: 'III';
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    color: #AAA;
    text-shadow: none;
    background-color: #FFF;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    position: absolute;
    top: -2px;
    left: 3px;
    -webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,.3);
    box-shadow: 0 1px 1px 1px rgba(0,0,0,.3);
    -webkit-transition: left .25s ease;
    -o-transition: left .25s ease;
    transition: left .25s ease;
}

input[type=checkbox].ace.ace-switch.ace-switch-4+.lbl::before, input[type=checkbox].ace.ace-switch.ace-switch-5+.lbl::before {
    text-indent: -24px;
}

input[type=checkbox].ace.ace-switch.ace-switch-4+.lbl::before, input[type=checkbox].ace.ace-switch.ace-switch-5+.lbl::before {
    content: "ON\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0OFF";
    font-size: 12px;
    line-height: 21px;
    height: 24px;
    overflow: hidden;
    border-radius: 12px;
    background-color: #8B9AA3;
    border: 1px solid #8B9AA3;
    color: #FFF;
    width: 56px;
    text-shadow: 0 0 0 #FFF;
    display: inline-block;
    position: relative;
    box-shadow: none;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

input[type=checkbox].ace.ace-switch+.lbl::before {
    font-family: 'Open Sans';
    float: left;
    padding: 0;
}
/*End Style button*/

/*Menu left*/
.sidebar {
    background: #01170C;
    margin-top: 16px;
}

[class*=sidebar-dark-] .nav-sidebar > .nav-item.menu-open > .nav-link, [class*=sidebar-dark-] .nav-sidebar > .nav-item:hover > .nav-link, [class*=sidebar-dark-] .nav-sidebar > .nav-item > .nav-link:focus {
    background-color: #173B2B;
    color: #fff;
}
.nav-item ul li a {
    padding-left: 30px;
}
/*End Menu left*/

/*Image, Icon*/
.img-button {
    height: 15px;
    margin-right: 0px;
}

.img-search {
    height: 15px;
    margin: 0 !important;
}


.img-icon {
    height: 16px;
}

.icon-edit, .icon-detail, .icon-freeze, .icon-cardrenew, .icon-delete, .icon-approve {
    color: #098850 !important;
}

.action-buttons a {
    margin: 0 3px;
    display: inline-block;
    opacity: .85;
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
}
/*End Image, Icon*/

/*Title*/
.title {
    font-size: 16px;
    font-weight: bold;
    padding-top: 20px;
    color: #098850;
}
/*End Title*/

/*dialog*/

/*End dialog*/

/* === Table === */
.cell-15 {
    min-width: 15px !important;
    width: 15px !important;
    max-width: 15px !important;
}

.cell-30 {
    min-width: 30px !important;
    width: 30px !important;
    max-width: 30px !important;
}

.cell-50 {
    min-width: 50px !important;
    width: 50px !important;
    max-width: 50px !important;
}

.cell-75 {
    min-width: 75px !important;
    width: 75px !important;
    max-width: 75px !important;
}

.cell-100 {
    min-width: 100px !important;
    width: 100px !important;
    max-width: 100px !important;
}

.cell-110 {
    min-width: 110px !important;
    width: 110px !important;
    max-width: 110px !important;
}

.cell-120 {
    min-width: 120px !important;
    width: 120px !important;
    max-width: 120px !important;
}

.cell-130 {
    min-width: 130px !important;
    width: 130px !important;
    max-width: 130px !important;
}

.cell-150 {
    min-width: 150px !important;
    width: 150px !important;
    max-width: 150px !important;
}

.cell-175 {
    min-width: 175px !important;
    width: 175px !important;
    max-width: 175px !important;
}

.cell-180 {
    min-width: 180px !important;
    width: 180px !important;
    max-width: 180px !important;
}

.cell-190 {
    min-width: 190px !important;
    width: 190px !important;
    max-width: 190px !important;
}

.cell-198 {
    min-width: 198px !important;
    width: 198px !important;
    max-width: 198px !important;
}

.cell-200 {
    min-width: 200px !important;
    width: 200px !important;
    max-width: 200px !important;
}

.cell-220 {
    min-width: 220px !important;
    width: 220px !important;
    max-width: 220px !important;
}

.cell-250 {
    min-width: 250px !important;
    width: 250px !important;
    max-width: 250px !important;
}

.cell-300 {
    min-width: 300px !important;
    width: 300px !important;
    max-width: 300px !important;
}

.cell-350 {
    min-width: 350px !important;
    width: 350px !important;
    max-width: 350px !important;
}

.cell-400 {
    min-width: 400px !important;
    width: 400px !important;
    max-width: 400px !important;
}

.cell-440 {
    min-width: 440px !important;
    width: 440px !important;
    max-width: 440px !important;
}

.cell-450 {
    min-width: 450px !important;
    width: 450px !important;
    max-width: 450px !important;
}

.cell-500 {
    min-width: 500px !important;
    width: 500px !important;
    max-width: 500px !important;
}

.cell-550 {
    min-width: 550px !important;
    width: 550px !important;
    max-width: 550px !important;
}

.cell-600 {
    min-width: 600px !important;
    width: 600px !important;
    max-width: 600px !important;
}

.cell-650 {
    min-width: 650px !important;
    width: 650px !important;
    max-width: 650px !important;
}

.cell-800 {
    min-width: 800px !important;
    width: 800px !important;
    max-width: 800px !important;
}
/*---------------------------popup----------------------------*/
.modal-dialog .ace-scroll, .modal-dialog .scroll-content {
    overflow: hidden;
}

.modal-dialog {
    left: 0;
}

.modal-header {
    padding: 5px 15px 5px 15px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-header {
    border-bottom: none;
}

.modal-header {
    background: #098850 !important;
    color: #fff;
}

.modal-content {
    color: #333;
}

.bootbox-body {
    font-weight: bold;
}

.modal-footer {
    padding: 10px 15px!important;
    border-top-color: #E4E9EE;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #EFF3F8;
}

.mybtn-Button {
    background-color: #098850 !important;
    color: #fff !important;
    border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    border: 1px solid #098850 !important;
    padding: 4px 10px !important;
    border-radius: 3px !important;
}

.modal-footer .btnButton {
    margin: .5em .4em .5em 0 !important;
    /*padding: 6px !important;
    width: 100px;*/
}

    .modal-footer .btnButton:last-child {
        background: #098850 !important;
    }

.modal-header .close {
    font-size: 32px;
    padding:0;
    margin:0;
}
.close {
    float: right;
    font-size: 21px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}
button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
    position: absolute;
    right: 10px;
}
.modal-title {
    line-height: 35px !important;
    font-weight: bold;
    width:100%;
}
#Contact img {
    width: 15px;
    display: inline;
    margin-right: 15px;
}

#Contact span {
    line-height: 35px;
    font-size: 13px;
}
.fade.show {
    transition: opacity .15s linear;
}

.ui-widget-header {
    border: none !important;
}

.ui-dialog {
    padding: 0 !important;
}

    .ui-dialog .ui-dialog-titlebar, .ui-dialog .ui-jqdialog-titlebar, .ui-jqdialog .ui-dialog-titlebar, .ui-jqdialog .ui-jqdialog-titlebar {
        background: #098850 !important;
    }

#ui-id-1 {
    font-family: 'Open Sans', sans-serif;
}

.ui-dialog-buttonset button {
    width: 100px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    border: none !important;
    padding: 6px;
    color: #fff !important;
}

    .ui-dialog-buttonset button:first-child {
        background: #098850 !important;
    }

    .ui-dialog-buttonset button:last-child {
        background: #B4B4B4 !important;
    }

.ui-dialog .ui-dialog-buttonpane, .ui-dialog .ui-jqdialog-buttonpane, .ui-jqdialog .ui-dialog-buttonpane, .ui-jqdialog .ui-jqdialog-buttonpane {
    background: #fff;
}

.ui-dialog .ui-dialog-title {
    float: left !important;
}

.ui-dialog .ui-dialog-titlebar {
    padding: .5em 2em !important;
}

.ui-dialog .ui-dialog-titlebar-close {
    color: #fff;
    opacity: 1;
    padding: 1px !important;
    background: #098850;
    border: none;
}

.ui-dialog-titlebar-close:before {
    content: none !important;
}
.minimal {
    width: 15px;
    height: 15px;
}
.main-footer {
    border-top: none !important;
}
.table > tbody > tr > td {
    border: 1px solid #ddd;
    word-break: break-word;
}
.table > thead:first-child > tr:first-child > th{
    border-bottom: none;
}
.layout-fixed .main-sidebar {
    max-width: 230px;
}
.main-sidebar {
    overflow: hidden;
}
.breadcrumb {
    background-color: transparent;
    display: inline-block;
    line-height: 20px;
    margin: 6px 22px 0 0;
    padding: 0;
    font-size: 13px;
    color: #333;
    border-radius: 0;
}
.cl-date {
    background-color: #ffffff !important;
    border-right: none !important;
    font-size: 14px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    border-radius: 4px 0px 0px 4px !important;
}
.form-group input[type=text].cl-date {
    border-radius: 4px 0px 0px 4px !important;
}
.input-group-addon {
    background-color: white;
}
.panel-info>.panel-heading {
    background-color: white !important;
    border-color: white !important;
}
.panel-heading h1 {
    color: #222222 !important;
    font-weight: bold;
    font-size: 16px !important;
    margin: 0;
    padding: 0 12px;
}
.cl-check {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


.checkmark {
    position: relative;
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: white;
    border: 1px solid #ddd;
}

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

.cl-check:checked ~ .checkmark {
    background-color: white;
}

    .cl-check:checked ~ .checkmark:after {
        display: block;
    }

.checkmark:after {
    left: 5px;
    top: 0px;
    width: 5px;
    height: 11px;
    border: solid #32a3ce;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

textarea {
    border-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #098850;
    
}

.tab-ck .nav-tabs > li > a {
    color: #222222;
    font-size: 13px;
}
.title-dashboard img {
    width: 35px;
    margin-right: 10px;
}
.icon-dashboard {
    text-align: -webkit-center;
    box-shadow: 5px 5px 5px #DDD;
    background: #ffffff;
    padding: 20px 10px;
}

.icon-dashboard img {
    height: 32px;
    margin: 0 auto;
}

    .icon-dashboard h3 {
        margin-bottom: 0;
        color: #4D4D4D;
        font-family: SourceSansPro-Semibold;
        font-size: 16px;
        text-align: center;
    }

[class*=sidebar-dark-] .sidebar a {
    color: #989898;
}

.panel-group {
    border: 1px solid #ddd;
}

.form-horizontal .form-group {
    margin: 0;
}

.content {
    background: #EEF2F6
}

.layout-bot-top-16 {
    padding-bottom: 16px;
    padding-top: 16px;
}

.margin-bottom-9 {
    margin-bottom: 9px !important;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 5px 10px !important;
}

.mt-2, .my-2 {
    margin-top: 39px !important;
}

.nav-sidebar .nav-link > .right, .nav-sidebar .nav-link > p > .right {
    top: 13px
}

.nav.nav-sidebar > li > a {
    padding: 10px 11px;
}

.disabled-fix {
    pointer-events: none;
    opacity: 1;
}

.pos-rel {
    margin: 0px;
}

#txtSearchObj {
    padding: 5px 10px;
}

.box-shadow-tk {
    box-shadow: 2px 2px 4px #ddd;
    padding: 10px 15px;
}

label.checkbox {
    display: inline-block;
    font-weight: normal;
    color: #505050;
    padding: 5px 20px;
    line-height: 27px;
}

/*Filter*/
.ulc {
    height: 65px;
    overflow-y: scroll;
}

.display-none {
    display: none;
}

.disabled-fix {
    pointer-events: none;
    opacity: 0.8;
}


.left-ton p {
    float: right;
    text-align: right;
    margin: 0;
    padding: 0 10px;
    font-weight: bold;
    color: #fff;
    width: 100%;
    line-height: 35px;
}

.ton-1 p {
    background: url(../Images/background-green.png);
}

.ton-2 p {
    background: #FABB16
}

.ton-3 p {
    background: url(../Images/background-orange.png);
}

.ton-4 p {
    background: #00A9CB
}

.ton-1, .ton-3 {
    padding-left: 20px !important;
}

.ulshowdata, .ulc {
    list-style-type: none;
    padding: 0 10px;
}

.ulc {
    list-style-type: none;
    padding: 0;
}

.ascsort:before {
    content: "\e155" !important;
    font-family: 'Glyphicons Halflings';
}

.descsort:before {
    content: "\e156" !important;
    font-family: 'Glyphicons Halflings';
}

.classdropdown[name="icon-asc"]:after {
    content: "\e155" !important;
    font-family: 'Glyphicons Halflings';
    float: right;
}

.classdropdown[name="icon-desc"]:after {
    content: "\e156" !important;
    font-family: 'Glyphicons Halflings';
    float: right;
}

.classdropdown[name="icon-filter"]:after {
    content: "\e138" !important;
    font-family: 'Glyphicons Halflings';
    float: right;
}
.dtl-part {
    border-bottom: 1px solid #098850;
}

.dtl-part li a {
    color: #098850 !important;
}

.dtl-part li a:hover, .dtl-part li.active a {
    background: #098850 !important;
    color: white !important;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff;
    background-color: #01170C;
}
.nav-pills .nav-link {
    border-radius: unset;
}
.nav-sidebar .nav-item.active > .nav-link {
    border-left: 3px solid #089950;
}
.nav-pills .nav-treeview li .active {
    background-color: #173B2B;
}
.nav-pills .nav-link:hover {
    background-color: #173B2B;
}
.nav-pills .nav-item ul li a:hover {
    background-color: #173B2B!important;
}
.nav-pills .nav-item ul li a:hover{
    
}
[class*="sidebar-dark-"] .nav-sidebar > .nav-item.open > .nav-link, [class*="sidebar-dark-"] .nav-sidebar > .nav-item:hover > .nav-link {
    background-color: #173B2B !important;
}
[class*="sidebar-dark-"] .nav-sidebar > .nav-item.open.active > .nav-link {
    background-color: #01170C !important;
}
table tbody tr:hover {
    background: #C8ECDC;
}

.breadcrumbs {
    min-height: 36px !important;
    line-height: 36px !important;
    top: 45px;
    /*position: fixed;*/
    width: 100%;
}

.breadcrumb > li + li:before {
    content: "\f105";
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 600;
    padding: 0 10px;
}
.breadcrumb li a, .breadcrumb li span, .breadcrumb li i {
    color: #A8A8A8;
    text-decoration: none;
}
    .breadcrumb li a:hover{
        text-decoration: none;
    }
.breadcrumb li:active a, .breadcrumb li:active span {
    font-weight: bold !important;
}
.nav-pills > li > a:focus {
    background-color: #01170C!important;
}

.scrollable-horizontal-popup {
    height: 300px;
    overflow: auto;
}
/*.scroll-track.scroll-active {
    height: 0 !important;
}*/
.form-group span input {
    font-family: SourceSansPro-Semibold;
}

.ace-scroll, .scroll-content {
    overflow: hidden;
}

.scroll-content {
    position: static;
}

.scroll-disabled.ace-scroll, .scroll-disabled.ace-scroll .scroll-content {
    overflow: visible;
}

.scroll-track {
    position: absolute;
    top: auto;
    bottom: auto;
    right: 0;
    height: auto;
    background-color: #E7E7E7;
    z-index: 99;
    width: 0;
    opacity: 0;
}

.scroll-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    background: #bbd4e5;
}

.scroll-track.scroll-hz {
    top: auto;
    left: auto;
    right: auto;
    bottom: 0;
    height: 8px;
    width: auto;
}

.scroll-hz .scroll-bar {
    height: inherit;
    width: auto;
}

.scroll-track.scroll-active {
    -webkit-transition: width .25s ease .75s,opacity .25s ease .75s;
    -o-transition: width .25s ease .75s,opacity .25s ease .75s;
    transition: width .25s ease .75s,opacity .25s ease .75s;
}

.ace-scroll:hover .scroll-active, .scroll-active.scroll-track.active, .scroll-active.scroll-track.scroll-hover, .scroll-active.scroll-track:active, .scroll-active.scroll-track:hover {
    width: 8px;
    opacity: 1;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.scroll-track.active > .scroll-bar {
    transition-property: none !important;
    transition-duration: 0s !important;
}

.scroll-track.scroll-margin {
    margin-left: -1px;
}

.scroll-track.scroll-left {
    right: auto;
    left: 0;
}

    .scroll-track.scroll-left.scroll-margin {
        margin-left: 1px;
    }

.scroll-track.scroll-top {
    bottom: auto;
    top: 0;
}

    .scroll-track.scroll-top.scroll-margin {
        top: 1px;
    }
