<SysObjectSetting xmlns="http://schemas.datacontract.org/2004/07/idn.Skycic.Inventory.Common.Models" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <List>
    <SysObjectFunction>
      <ObjectCode>MENU_QL_CAP_SO_IN_TEM</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Inv_InventorySecret_Get</a:string>
        <a:string>Inv_InventorySecret_UpdateFlagUsed</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MNU_INVF_INVENTORYIN</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Inv_InventoryBalance_Get</a:string>
        <a:string>InvF_InventoryIn_Appr</a:string>
        <a:string>InvF_InventoryIn_Cancel</a:string>
        <a:string>InvF_InventoryIn_Get</a:string>
        <a:string>InvF_InventoryIn_Save</a:string>
        <a:string>InvF_InventoryIn_SaveAndAppr</a:string>
        <a:string>InvF_InventoryIn_UpdAfterAppr</a:string>
        <a:string>InvF_TempPrint_Get</a:string>
        <a:string>Mst_Customer_Get</a:string>
        <a:string>Mst_Inventory_Get</a:string>
        <a:string>Mst_InvInType_Get</a:string>
        <a:string>Mst_NNT_Get</a:string>
        <a:string>Mst_Product_Get</a:string>
        <a:string>Rpt_Inv_InvBalance_LastUpdInvByProduct</a:string>
        <a:string>WA_Mst_Inventory_Get</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MNU_INVF_INVENTORYCUSRETURN</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Inv_InventoryBalance_Get</a:string>
        <a:string>InvF_InventoryCusReturn_Appr</a:string>
        <a:string>InvF_InventoryCusReturn_Cancel</a:string>
        <a:string>InvF_InventoryCusReturn_Get</a:string>
        <a:string>InvF_InventoryCusReturn_Save</a:string>
        <a:string>InvF_TempPrint_Get</a:string>
        <a:string>Mst_Customer_Get</a:string>
        <a:string>Mst_Inventory_Get</a:string>
        <a:string>Mst_NNT_Get</a:string>
        <a:string>Mst_Product_Get</a:string>
        <a:string>Rpt_Inv_InvBalance_LastUpdInvByProduct</a:string>
        <a:string>WA_Mst_Inventory_Get</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MNU_INVF_INVENTORYRETURNSUP</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Inv_InventoryBalance_Get</a:string>
        <a:string>Inv_InventoryBalanceLot_Get</a:string>
        <a:string>Inv_InventoryBalanceSerial_Get</a:string>
        <a:string>InvF_InventoryReturnSup_Appr</a:string>
        <a:string>InvF_InventoryReturnSup_Cancel</a:string>
        <a:string>InvF_InventoryReturnSup_Get</a:string>
        <a:string>InvF_InventoryReturnSup_Save</a:string>
        <a:string>InvF_TempPrint_Get</a:string>
        <a:string>Mst_Customer_Get</a:string>
        <a:string>Mst_Inventory_Get</a:string>
        <a:string>Mst_NNT_Get</a:string>
        <a:string>Mst_Product_Get</a:string>
        <a:string>Rpt_Inv_InvBalance_LastUpdInvByProduct</a:string>
        <a:string>WA_Mst_Inventory_Get</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MNU_RPT_SUMMARY_IN_OUT</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_Product_Get</a:string>
        <a:string>Rpt_Summary_In_Out</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MNU_RPT_SUMMARY_QTYINVBYPERIOD</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_Product_Get</a:string>
        <a:string>Rpt_Summary_QtyInvByPeriod</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MNU_RPT_SUMMARY_INANDRETURNSUP</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_Product_Get</a:string>
        <a:string>Rpt_Summary_In_Out_Pivot</a:string>
        <a:string>Rpt_Summary_InAndReturnSup</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MNU_INVF_INVENTORYOUT</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>InvF_InventoryOut_Appr</a:string>
        <a:string>InvF_InventoryOut_Cancel</a:string>
        <a:string>InvF_InventoryOut_Get</a:string>
        <a:string>InvF_InventoryOut_Save</a:string>
        <a:string>InvF_InventoryOut_SaveAndAppr_Cheo</a:string>
        <a:string>Mst_Customer_Get</a:string>
        <a:string>Mst_InventoryOutType_Get</a:string>
        <a:string>WA_Mst_Inventory_Get</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MNU_INVF_INVAUDIT</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Inv_InventoryBalanceLot_Get</a:string>
        <a:string>InvF_InvAudit_Appr</a:string>
        <a:string>InvF_InvAudit_Cancel</a:string>
        <a:string>InvF_InvAudit_Finish</a:string>
        <a:string>InvF_InvAudit_Get</a:string>
        <a:string>InvF_InvAudit_Save</a:string>
        <a:string>InvF_InvAuditDtl_FlagAudit</a:string>
        <a:string>InvF_InvAuditDtl_FlagAuditSpecial</a:string>
        <a:string>OS_MstSvTVAN20_Mstv_Seq_Common_Get</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MNU_RPT_SUMMARY_IN_OUT_SUP_PIVOT</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_Customer_Get</a:string>
        <a:string>Mst_Product_Get</a:string>
        <a:string>Mst_ProductGroup_Get</a:string>
        <a:string>Rpt_Summary_In_Out_Sup_Pivot</a:string>
        <a:string>WA_Mst_Inventory_Get</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MNU_RPT_INVBALLOT_MAXEXPIREDDATEBYINV</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_Product_Get</a:string>
        <a:string>Mst_ProductGroup_Get</a:string>
        <a:string>Rpt_InvBalLot_MaxExpiredDateByInv</a:string>
        <a:string>WA_Mst_Inventory_Get</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MENU_QL_PHIEU_XUAT</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>InvF_InventoryOut_Appr</a:string>
        <a:string>InvF_InventoryOut_Cancel</a:string>
        <a:string>InvF_InventoryOut_Get</a:string>
        <a:string>InvF_InventoryOut_Save</a:string>
        <a:string>InvF_InventoryOut_SaveAndAppr_Cheo</a:string>
        <a:string>InvF_InventoryOutFG_Approve</a:string>
        <a:string>InvF_InventoryOutFG_Get</a:string>
        <a:string>InvF_InventoryOutFG_Save</a:string>
        <a:string>InvF_InventoryOutFGInstSerial_Get</a:string>
        <a:string>InvF_InventoryOutHist_Approve</a:string>
        <a:string>InvF_InventoryOutHist_Get</a:string>
        <a:string>InvF_InventoryOutHist_SaveSpecial</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MNU_INVF_MOVEORD</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>InvF_MoveOrd_Appr</a:string>
        <a:string>InvF_MoveOrd_Cancel</a:string>
        <a:string>InvF_MoveOrd_Get</a:string>
        <a:string>InvF_MoveOrd_Save</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MNU_RPT_INV_INVENTORYBALANCE</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Rpt_Inv_InventoryBalance</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MNU_RPT_INVF_WAREHOUSECARD</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Rpt_InvF_WarehouseCard</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MNU_RPT_INVENTORY_IN_OUT_INV</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Rpt_Inventory_In_Out_Inv</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MENU_QUAN_LY_KHO</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_Inventory_Create</a:string>
        <a:string>Mst_Inventory_Delete</a:string>
        <a:string>Mst_Inventory_Get</a:string>
        <a:string>Mst_Inventory_Update</a:string>
        <a:string>Mst_InventoryBlock_Create</a:string>
        <a:string>Mst_InventoryBlock_Delete</a:string>
        <a:string>Mst_InventoryBlock_Get</a:string>
        <a:string>Mst_InventoryBlock_Update</a:string>
        <a:string>WA_Mst_Inventory_Get</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MENU_QUAN_LY_CAP_KHO</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_InventoryLevelType_Create</a:string>
        <a:string>Mst_InventoryLevelType_Delete</a:string>
        <a:string>Mst_InventoryLevelType_Get</a:string>
        <a:string>Mst_InventoryLevelType_Update</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MENU_QUAN_LY_LOAI_KHO</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_InventoryType_Create</a:string>
        <a:string>Mst_InventoryType_Delete</a:string>
        <a:string>Mst_InventoryType_Get</a:string>
        <a:string>Mst_InventoryType_Update</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MENU_QUAN_LY_LOAI_NHAP_KHO</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_InvInType_Create</a:string>
        <a:string>Mst_InvInType_Delete</a:string>
        <a:string>Mst_InvInType_Get</a:string>
        <a:string>Mst_InvInType_Update</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MENU_QUAN_LY_LOAI_XUAT_KHO</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_InvOutType_Create</a:string>
        <a:string>Mst_InvOutType_Delete</a:string>
        <a:string>Mst_InvOutType_Get</a:string>
        <a:string>Mst_InvOutType_Update</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MENU_PHAN_QUYEN_KHO</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_UserMapInventory_Get</a:string>
        <a:string>Mst_UserMapInventory_Save</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MENU_QUAN_LY_MAU_IN</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>InvF_TempPrint_Get</a:string>
        <a:string>InvF_TempPrint_Save</a:string>
        <a:string>Temp_PrintTemp_Approved</a:string>
        <a:string>Temp_PrintTemp_Cancel</a:string>
        <a:string>Temp_PrintTemp_Get</a:string>
        <a:string>Temp_PrintTemp_Save</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MENU_QUAN_LY_NGUOI_DUNG</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Sys_User_ChangePassword</a:string>
        <a:string>Sys_User_Create</a:string>
        <a:string>Sys_User_Delete</a:string>
        <a:string>Sys_User_Get</a:string>
        <a:string>Sys_User_GetForCurrentUser</a:string>
        <a:string>Sys_User_Login</a:string>
        <a:string>Sys_User_Update</a:string>
        <a:string>Sys_UserInGroup_Save</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MENU_QUAN_LY_NHOM_NGUOI_DUNG</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Sys_Group_Create</a:string>
        <a:string>Sys_Group_Delete</a:string>
        <a:string>Sys_Group_Get</a:string>
        <a:string>Sys_Group_Update</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MENU_QUAN_LY_CHI_NHANH</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_Org_Create</a:string>
        <a:string>Mst_Org_Get</a:string>
        <a:string>OS_MstSv_OrgInNetwork_Create</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>BUTTON_APP.ETEM</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_Inventory_Get</a:string>
        <a:string>Mst_Inventory_GetByUser</a:string>
        <a:string>InvF_InventoryOut_Get</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>BUTTON_APP.DMSPLUS</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>WA_Mst_Inventory_Get</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>BTN_LICENSE_TK</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Sys_Access_Get</a:string>
        <a:string>Sys_Access_Save</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MENU_HANG_HOA</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_Attribute_Create</a:string>
        <a:string>Mst_Attribute_Delete</a:string>
        <a:string>Mst_Attribute_Get</a:string>
        <a:string>Mst_Attribute_Update</a:string>
        <a:string>Mst_Brand_Create</a:string>
        <a:string>Mst_Brand_Delete</a:string>
        <a:string>Mst_Brand_Get</a:string>
        <a:string>Mst_Brand_Update</a:string>
        <a:string>Mst_Product_Create</a:string>
        <a:string>Mst_Product_Delete</a:string>
        <a:string>Mst_Product_Get</a:string>
        <a:string>Mst_Product_Update</a:string>
        <a:string>Mst_ProductGroup_Create</a:string>
        <a:string>Mst_ProductGroup_Delete</a:string>
        <a:string>Mst_ProductGroup_Get</a:string>
        <a:string>Mst_ProductGroup_Update</a:string>
        <a:string>Mst_ProductGroupExt_Get</a:string>
        <a:string>Mst_ProductType_Get</a:string>
        <a:string>Prd_DynamicField_Get</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MENU_DOI_TAC</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_Customer_Create</a:string>
        <a:string>Mst_Customer_Delete</a:string>
        <a:string>Mst_Customer_Get</a:string>
        <a:string>Mst_Customer_Update</a:string>
        <a:string>Mst_CustomerGroup_Create</a:string>
        <a:string>Mst_CustomerGroup_Delete</a:string>
        <a:string>Mst_CustomerGroup_Get</a:string>
        <a:string>Mst_CustomerGroup_Update</a:string>
        <a:string>Mst_CustomerSource_Create</a:string>
        <a:string>Mst_CustomerSource_Delete</a:string>
        <a:string>Mst_CustomerSource_Get</a:string>
        <a:string>Mst_CustomerSource_Update</a:string>
        <a:string>Mst_CustomerType_Create</a:string>
        <a:string>Mst_CustomerType_Delete</a:string>
        <a:string>Mst_CustomerType_Get</a:string>
        <a:string>Mst_CustomerType_Update</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MENU_GIAO_DICH_KHO</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>InvF_InvAudit_Appr</a:string>
        <a:string>InvF_InvAudit_Cancel</a:string>
        <a:string>InvF_InvAudit_Finish</a:string>
        <a:string>InvF_InvAudit_Get</a:string>
        <a:string>InvF_InvAudit_Save</a:string>
        <a:string>InvF_InvAuditDtl_FlagAudit</a:string>
        <a:string>InvF_InvAuditDtl_FlagAuditSpecial</a:string>
        <a:string>InvF_InventoryCusReturn_Appr</a:string>
        <a:string>InvF_InventoryCusReturn_Cancel</a:string>
        <a:string>InvF_InventoryCusReturn_Get</a:string>
        <a:string>InvF_InventoryCusReturn_Save</a:string>
        <a:string>InvF_InventoryIn_Appr</a:string>
        <a:string>InvF_InventoryIn_Cancel</a:string>
        <a:string>InvF_InventoryIn_Get</a:string>
        <a:string>InvF_InventoryIn_Save</a:string>
        <a:string>InvF_InventoryIn_SaveAndAppr</a:string>
        <a:string>InvF_InventoryIn_UpdAfterAppr</a:string>
        <a:string>InvF_InventoryIn_UpdAfterApprForEtem</a:string>
        <a:string>InvF_InventoryInFG_Approve</a:string>
        <a:string>InvF_InventoryInFG_Get</a:string>
        <a:string>InvF_InventoryInFG_Save</a:string>
        <a:string>InvF_InventoryInFGInstSerial_Get</a:string>
        <a:string>InvF_InventoryOut_Appr</a:string>
        <a:string>InvF_InventoryOut_Cancel</a:string>
        <a:string>InvF_InventoryOut_Get</a:string>
        <a:string>InvF_InventoryOut_Save</a:string>
        <a:string>InvF_InventoryOut_SaveAndAppr</a:string>
        <a:string>InvF_InventoryOut_SaveAndAppr_Cheo</a:string>
        <a:string>InvF_InventoryOut_UpdAfterApprForEtem</a:string>
        <a:string>InvF_InventoryOutFG_Approve</a:string>
        <a:string>InvF_InventoryOutFG_Get</a:string>
        <a:string>InvF_InventoryOutFG_Save</a:string>
        <a:string>InvF_InventoryOutFGInstSerial_Get</a:string>
        <a:string>InvF_InventoryOutHist_Approve</a:string>
        <a:string>InvF_InventoryOutHist_Get</a:string>
        <a:string>InvF_InventoryOutHist_SaveSpecial</a:string>
        <a:string>InvF_InventoryReturnSup_Appr</a:string>
        <a:string>InvF_InventoryReturnSup_Cancel</a:string>
        <a:string>InvF_InventoryReturnSup_Get</a:string>
        <a:string>InvF_InventoryReturnSup_Save</a:string>
        <a:string>InvF_MoveOrd_Appr</a:string>
        <a:string>InvF_MoveOrd_Cancel</a:string>
        <a:string>InvF_MoveOrd_Get</a:string>
        <a:string>InvF_MoveOrd_Save</a:string>
        <a:string>InvF_TempPrint_Get</a:string>
        <a:string>InvF_TempPrint_Save</a:string>
        <a:string>OSEtem_InvF_InventoryIn_DelAfterAppr</a:string>
        <a:string>OSEtem_InvF_InventoryOut_DelAfterAppr</a:string>
        <a:string>Rpt_InvF_WarehouseCard</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MENU_TOI_UU_KHO</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Inv_InventoryBalance_Get</a:string>
        <a:string>InvF_InvAudit_Appr</a:string>
        <a:string>InvF_InvAudit_Cancel</a:string>
        <a:string>InvF_InvAudit_Finish</a:string>
        <a:string>InvF_InvAudit_Get</a:string>
        <a:string>InvF_InvAudit_Save</a:string>
        <a:string>InvF_InvAuditDtl_FlagAudit</a:string>
        <a:string>InvF_InvAuditDtl_FlagAuditSpecial</a:string>
        <a:string>InvF_MoveOrd_Appr</a:string>
        <a:string>InvF_MoveOrd_Cancel</a:string>
        <a:string>InvF_MoveOrd_Get</a:string>
        <a:string>InvF_MoveOrd_Save</a:string>
        <a:string>Mst_Area_Get</a:string>
        <a:string>Mst_Brand_Get</a:string>
        <a:string>Mst_ColumnConfig_Get</a:string>
        <a:string>Mst_Customer_Get</a:string>
        <a:string>Mst_Inventory_Get</a:string>
        <a:string>Mst_InvInType_Get</a:string>
        <a:string>Mst_NNT_Get</a:string>
        <a:string>Mst_Org_Get</a:string>
        <a:string>Mst_Param_Get</a:string>
        <a:string>Mst_Product_Get</a:string>
        <a:string>Mst_ProductGroup_Get</a:string>
        <a:string>Sys_User_Get</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MENU_BAO_CAO</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Inv_InventoryBalanceLot_Get</a:string>
        <a:string>Inv_InventoryBalanceSerial_Get</a:string>
        <a:string>Mst_Customer_Get</a:string>
        <a:string>Mst_Inventory_Get</a:string>
        <a:string>Mst_Product_Get</a:string>
        <a:string>Mst_ProductGroup_Get</a:string>
        <a:string>Rpt_Inv_InvBalance_LastUpdInvByProduct</a:string>
        <a:string>Rpt_Inv_InventoryBalance</a:string>
        <a:string>Rpt_Inv_InventoryBalance_LastUpdInvByProduct</a:string>
        <a:string>Rpt_InvBalLot_MaxExpiredDateByInv</a:string>
        <a:string>Rpt_Inventory_In_Out_Inv</a:string>
        <a:string>Rpt_InvF_WarehouseCard</a:string>
        <a:string>Rpt_InvFInventoryInFGSum</a:string>
        <a:string>Rpt_InvFInventoryOutFGSum</a:string>
        <a:string>Rpt_InvInventoryBalanceMonth</a:string>
        <a:string>Rpt_InvoiceForDashboard</a:string>
        <a:string>Rpt_InvoiceInvoice_ResultUsed</a:string>
        <a:string>Rpt_InvoiceSummary_01</a:string>
        <a:string>Rpt_SearchHis_Add</a:string>
        <a:string>Rpt_SearchHis_Get</a:string>
        <a:string>Rpt_Summary_In_Out</a:string>
        <a:string>Rpt_Summary_In_Out_Pivot</a:string>
        <a:string>Rpt_Summary_In_Out_Sup_Pivot</a:string>
        <a:string>Rpt_Summary_In_Out_Sup_PivotSpecial</a:string>
        <a:string>Rpt_Summary_InAndReturnSup</a:string>
        <a:string>Rpt_Summary_QtyInvByPeriod</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MNU_INVF_INVENTORYOUT_CREATE</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_InventoryOutType_Get</a:string>
        <a:string>Mst_Inventory_Get</a:string>
        <a:string>Mst_Customer_Get</a:string>
        <a:string>Mst_Product_Get</a:string>
        <a:string>InvF_InventoryOut_Save</a:string>
        <a:string>Inv_InventoryBalanceSerial_Get</a:string>
        <a:string>Inv_InventoryBalanceLot_Get</a:string>
        <a:string>Inv_InventoryBalance_Get</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MNU_INVF_INVENTORYOUT_UPDATE</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_InventoryOutType_Get</a:string>
        <a:string>Mst_Inventory_Get</a:string>
        <a:string>Mst_Customer_Get</a:string>
        <a:string>InvF_InventoryOut_Get</a:string>
        <a:string>Mst_Product_Get</a:string>
        <a:string>Inv_InventoryBalance_Get</a:string>
        <a:string>InvF_InventoryOut_Save</a:string>
        <a:string>Inv_InventoryBalanceSerial_Get</a:string>
        <a:string>Inv_InventoryBalanceLot_Get</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MNU_INVF_INVENTORYOUT_DETAIL</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_InventoryOutType_Get</a:string>
        <a:string>Mst_Inventory_Get</a:string>
        <a:string>InvF_InventoryOut_Get</a:string>
        <a:string>Mst_Product_Get</a:string>
        <a:string>Inv_InventoryBalance_Get</a:string>
        <a:string>InvF_InventoryOut_Save</a:string>
        <a:string>Inv_InventoryBalanceSerial_Get</a:string>
        <a:string>Inv_InventoryBalanceLot_Get</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MNU_INVF_INVENTORYOUT_EXPORTCROSS</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_InventoryOutType_Get</a:string>
        <a:string>Mst_Inventory_Get</a:string>
        <a:string>Mst_Customer_Get</a:string>
        <a:string>InvF_InventoryOut_Get</a:string>
        <a:string>Mst_Product_Get</a:string>
        <a:string>Inv_InventoryBalance_Get</a:string>
        <a:string>InvF_InventoryOut_SaveAndAppr_Cheo</a:string>
        <a:string>Inv_InventoryBalanceSerial_Get</a:string>
        <a:string>Inv_InventoryBalanceLot_Get</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MNU_INVF_INVENTORYIN_CREATE</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_InvInType_Get</a:string>
        <a:string>Mst_Inventory_Get</a:string>
        <a:string>Mst_Customer_Get</a:string>
        <a:string>InvF_InventoryIn_Save</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MNU_INVF_INVENTORYIN_UPDATE</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_Inventory_Get</a:string>
        <a:string>Mst_InvInType_Get</a:string>
        <a:string>Mst_Customer_Get</a:string>
        <a:string>InvF_InventoryIn_Get</a:string>
        <a:string>Mst_Product_Get</a:string>
        <a:string>InvF_InventoryIn_Save</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MNU_INVF_INVENTORYIN_DETAIL</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_Inventory_Get</a:string>
        <a:string>Mst_InvInType_Get</a:string>
        <a:string>Mst_Customer_Get</a:string>
        <a:string>InvF_InventoryIn_Get</a:string>
        <a:string>Mst_Product_Get</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MNU_INVF_INVENTORYCUSRETURN_CREATE</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_Inventory_Get</a:string>
        <a:string>Mst_Customer_Get</a:string>
        <a:string>InvF_InventoryCusReturn_Save</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MNU_INVF_INVENTORYCUSRETURN_UPDATE</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_Inventory_Get</a:string>
        <a:string>Mst_Customer_Get</a:string>
        <a:string>InvF_InventoryCusReturn_Get</a:string>
        <a:string>Mst_Product_Get</a:string>
        <a:string>InvF_InventoryCusReturn_Save</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MNU_INVF_INVENTORYCUSRETURN_DETAIL</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_Inventory_Get</a:string>
        <a:string>Mst_Customer_Get</a:string>
        <a:string>InvF_InventoryCusReturn_Get</a:string>
        <a:string>Mst_Product_Get</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MNU_INVF_INVENTORYRETURNSUP_CREATE</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_Inventory_Get</a:string>
        <a:string>Mst_Customer_Get</a:string>
        <a:string>InvF_InventoryReturnSup_Save</a:string>
        <a:string>Inv_InventoryBalanceSerial_Get</a:string>
        <a:string>Inv_InventoryBalanceLot_Get</a:string>
        <a:string>Inv_InventoryBalance_Get</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MNU_INVF_INVENTORYRETURNSUP_UPDATE</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_Inventory_Get</a:string>
        <a:string>Mst_Customer_Get</a:string>
        <a:string>InvF_InventoryReturnSup_Get</a:string>
        <a:string>Mst_Product_Get</a:string>
        <a:string>InvF_InventoryReturnSup_Save</a:string>
        <a:string>Inv_InventoryBalanceSerial_Get</a:string>
        <a:string>Inv_InventoryBalanceLot_Get</a:string>
        <a:string>Inv_InventoryBalance_Get</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MNU_INVF_INVENTORYRETURNSUP_DETAIL</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_Inventory_Get</a:string>
        <a:string>Mst_Customer_Get</a:string>
        <a:string>InvF_InventoryReturnSup_Get</a:string>
        <a:string>Mst_Product_Get</a:string>
        <a:string>InvF_InventoryReturnSup_Appr</a:string>
        <a:string>InvF_InventoryReturnSup_Cancel</a:string>
        <a:string>InvF_InventoryReturnSup_Save</a:string>
        <a:string>Inv_InventoryBalanceSerial_Get</a:string>
        <a:string>Inv_InventoryBalanceLot_Get</a:string>
        <a:string>Inv_InventoryBalance_Get</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MENU_QL_VUNG_THI_TRUONG</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_Area_Get</a:string>
        <a:string>Mst_Area_Delete</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MENU_QL_KHACH_HANG_TAO_MOI</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_Area_Get</a:string>
        <a:string>Mst_Area_Create</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MENU_QL_VUNG_THI_TRUONG_CHI_TIET</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_Area_Get</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MENU_QL_VUNG_THI_TRUONG_CAP_NHAT</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_Area_Get</a:string>
        <a:string>Mst_Area_Update</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MENU_MNG_PRODUCT_CUTSOMFIELD</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Product_CustomField_Get</a:string>
        <a:string>Product_CustomField_Update</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MENU_QL_CAU_HINH_HIEN_THI_SO_THAP_PHAN</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_ColumnConfigGroup_Get</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MENU_QL_CAU_HINH_HIEN_THI_SO_THAP_PHAN_SUA</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_ColumnConfigGroup_Get</a:string>
        <a:string>Mst_ColumnConfigGroup_Update</a:string>
        <a:string>Mst_ColumnConfig_Get</a:string>
      </FunctionCodes>
    </SysObjectFunction>
    <SysObjectFunction>
      <ObjectCode>MENU_CAU_HINH_HE_THONG</ObjectCode>
      <FunctionCodes xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
        <a:string>Mst_Sys_Config_Get</a:string>
        <a:string>Mst_Sys_Config_Update</a:string>
      </FunctionCodes>
    </SysObjectFunction>
  </List>
</SysObjectSetting>